<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.EmployeDao">
    <insert id="insert">
        insert into employe(username) values('one')
    </insert>

    <select id="getAll" resultType="com.entity.Employee">
        select id,username from employe order by id
    </select>
</mapper>