<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">
        
    <bean id="paramAspect" class="param.ParamAspect"/>
    <bean id="employeeService" class="com.EmployeeServiceImpl"/>

     <aop:config>
<!--     args:对应的是method的参数    -->
         <aop:pointcut id="empPointcut" expression="execution(* com.EmployeeServiceImpl.*(..)) and args(x1,y1)"/>

         <aop:aspect id="paramAspect">
             <aop:before method="before2" pointcut-ref="empPointcut" arg-names="x1,y1"/>
<!--        -->
<!--       <aop:around method="before" pointcut-ref="empPointcut"  />-->
         </aop:aspect>
     </aop:config>
</beans>