<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
     default-init-method="init" default-destroy-method="destroy">
<!-- default-init-method="init":默认初始化
default-destroy-method=destroy :销毁

-->
<!--  这中方法creatA必须是静态的  -->
<!--    <bean id="factory" class="factory.AFactory"-->
<!--          factory-method="createA"></bean>-->


    <bean id="factory" class="factory.AFactory"></bean>

    <bean id="factory2" factory-bean="factory" factory-method="createB"></bean>

<!--
 返回A这个实例因为
 MyFactoryBean这个实现了FactoryBean接口
    如果没有实现就实现MyFactoryBean这个实例本身
    -->

    <bean id="factory3" class="factory.MyFactoryBean" ></bean>
</beans>