<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.demo.dao.EmployeDao">
    <delete id="deleteById">
        delete from employe where deptid = #{deptid}
    </delete>
    <select id="getAll" resultType="com.nf.demo.entity.EmployeeEntity">
        select id, salary, hiredate, username from employe where order by id
    </select>

    <insert id="insert">
        insert into employe(username,salary,hiredate) values(#{username},#{salary},#{hiredate})
    </insert>
</mapper>